.popup {
    display: none;
    position: fixed;
    top: 0;
    right: -100%; /* Inicia fuera de la pantalla */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    transition: right 0.25s ease-out;
    box-sizing: border-box;
    background-color: #FEC7D7;
}

.popup .contenedorDetallesMascotas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.cerrar {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}

.popup .contenedorDetallesMascotas{
    color: black;
    overflow-y: auto;
    max-height: 80vh;
    width: 375px;
}

.tarjetaDetalles{
    padding: 15px;
    background-color: #FFFFFE;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.popup .contenedorDetallesMascotas .imgMascota{
    width: 100%;
    height: 442px;
    position:  relative;
    object-fit: cover;
    top: 20px;
    z-index: 1;
}

.popup .contenedorDetallesMascotas .imgIcono{
    width: 24px;
    height: 24px;
}

.popup .contenedorDetallesMascotas .contenedorPersonalidades{
    display: flex;
    justify-content: space-around;
}

.popup .contenedorDetallesMascotas .divPerosonalidad{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #A786DF;
    width: min-content;
}

.popup .contenedorDetallesMascotas .imgPersonalidades{
    width: 40px;
    height: 40px;
}

.fotoDueño{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 48px;
    border: 3px solid var(--Green, #85D1CE);
}

#botonContactar{
    cursor: pointer;
}

.nombreSexoFavoritos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nombreSexo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.razaEdad{
    display: flex;
    justify-content: space-between;
}

.razaEdad div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.direccionDiv{
    display: flex;
    gap: 8px;
}

.tituloHistoria{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.detallesHistoria{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.dueñoDiv{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.fotoNombre{
    display: flex;
    gap: 8px;
}


.publicadoPorDiv{
    display: flex;
    flex-direction: column;
}

.publicadoPorDiv p:last-of-type{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07px;
}

#botonContactar{
    width: 155px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 98px;
    color: #FFFFFE;
    background: #0E172C;
    border: none;
}